# General Flutter/Dart ignore rules
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.settings/
.idea/
.vscode/
*.iml
*.lock
*.log
*.swp

# Firebase and configuration files
**/firebase_options.dart
**/google-services.json
**/GoogleService-Info.plist
**/key.properties
**/keys.xml
**/app_env.dart

# Android specific
**/android/key.properties
**/android/local.properties
**/android/app/debug.keystore
**/android/app/profile.keystore
**/android/app/release.keystore

# iOS specific
**/ios/Flutter/flutter_export_environment.sh
**/ios/Podfile.lock
**/ios/Runner.xcworkspace/
**/ios/Runner/GeneratedPluginRegistrant.*

# Environment files
.env
.env.*
.env.local
.env.dev
.env.prod

# macOS
.DS_Store